<table class="table" style="width:80%">
	<th>Bus Owner</th>
	<th>Email Id</th>
	<th>Status</th>
	<th>Do</th>
	<%@owners.each do |owner|%>
		<tr class="info">
			<td>
		   <%=owner.name%>
		  </td>
		  <td>
		    <%=owner.email%>
		  </td>
		  <td>
		    <%=owner.status%>
		  </td>
		  <%if verfy_owner?(owner.id)%>
		    <td>
		      <%= button_to 'Suspend', user_path(owner.id),class: "btn btn-danger", remote: true, data: { confirm: "Are you sure?" },method: :patch%>
		    </td>
		  <%else%>
	   	  <td>
	  	    <%= button_to 'Verify', user_path(owner.id),class: "btn btn-primary", remote: true, data: { confirm: "Are you sure?" },method: :patch%>
		   </td>
	    <%end%>


			<td>
			<button class="btn btn-default"><%= link_to "Buses",admins_check_bus_path(owner.id)%>
			         </button>
			</td>
	  </tr>
  <%end%>	

</table>

