 <div class="search_form">
 <%= form_tag({controller: "home", action: "index"}, method: "get", class: "orm-inline") do %>
  <%= label_tag(:source, "Source:") %>
  <%= text_field_tag(:source ,cookies[:source]) %>
  <%= label_tag(:destination, "Destination:") %>
  <%= text_field_tag(:destination,cookies[:destination]) %>
  <%= label_tag(:date, "date:") %>
  <%= date_field_tag(:date,cookies[:date]) %>
  <%= submit_tag("Search") %>
<% end %>
</div>
<div class="sidenav">
  <a href="#about">About</a>
  <a href="#services">Services</a>
  <a href="#clients">Clients</a>
  <a href="#contact">Contact</a>
</div>


<table class="table" style="width:85%">
<th>Bus Name</th>
<th>Bus No</th>
<th>Source</th>
<th>Destination</th>
<th>Available Seats</th>
<th>Rent</th>
<th>Do</th>
 <%@buses.each do |bus|%>
<tr class="info">
<td>
 <%=bus.bus_name%>
</td>
<td>
 <%=bus.bus_no%>
</td>
<td>
 <%=bus.source%>
</td>
<td>
 <%=bus.destination%>
</td>
<td>
 <%=available(bus.id)%>
</td>
<td>
<%=bus.rent%>
</td>
<td>
	<button class="btn btn-default"><%= link_to "Book",{controller: 'reservations',
             action: 'new',
             bus_id: @bus.id}%>
         </button>
</td>
<tr>
	<%end%>
</table>