<div id="div1">Register in <span id="time">05:00</span> minutes!</div>

<div class="container" data-bus="<%= @bus.id %>">
  <%=form_for [@user,@bus,@reservation], url: bus_reservations_path(@bus.id), html: { method: :post } do |form| %>
    <div class="form-group">
      <%= form.label :to_date %><br>
      <%= form.date_field("date", min: Time.now)%>
    </div>
    <div class="form-group">
      <%= form.label :no_of_seats %><br>
      <%= form.number_field :booked_seats,value: nil,:required=> true %><br>
    </div>
    
  <br>

  <div class="check_box">
    <div class="seats">
      <%= render 'check_boxes' %>
    </div>
  </div>
   <br>
    <%= form.submit class: "btn btn-primary" %>

  <% end %>
</div>
<script type="text/javascript">
  
  function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer < 0) {
            timer = duration;
        }
    }, 1000);

   window.onmouseover = setTimeout(
      function() {
      window.location.href = "http://localhost:3000";
    }, 60000*5);
}

window.onmouseover = function () {
    var fiveMinutes = 60*5,
        display = document.querySelector('#time');
    startTimer(fiveMinutes-1, display);
};

</script>