<table class="table">
  <thead>
    <tr>
      <th>Bus Name</th>
      <th>Bus No</th>
      <th>Source</th>
      <th>Destination</th>
      <th>Date</th>
      <th>Booked Seats</th>
      <th>Seats no.</th>
      <th>Rent</th>
      <th>Reservation No</th>
      <th>Do</th>
   </tr>
 </thead>
<tbody>     
  <%#@buses=@buses.flatten%>
  <%@reservation.each do |reservation|%>
    <% bus = reservation.bus %>
   <tr class="info">
    <td>
      <%=bus.bus_name%>
    </td>
    <td>
      <%=bus.bus_no%>
    </td>
    <td>
      <%=bus.source%>
    </td>
    <td>
      <%=bus.destination%>
    </td>
    <td>
      <%=reservation.date%>
    </td>
    <td>
      <%=reservation.booked_seats%>
    </td>
    <td>
    <%seat_no(reservation.id).tap do |seat|%>
    <%=seat%>
    <%end%>
    </td>
    <td>
      <%=bus.rent%>
    </td>
    <td>
      <%=reservation.id%>
    </td>
    <td>
      <% if !booked?(bus.id)%>
        <button class="btn btn-default"><%= link_to "Cancel",{controller: 'reservations',
                 action: 'destroy',
                 id: reservation.id}, data: { confirm: "Are you sure?" }, method: :delete%>            
        </button>
      <%end%>
    </td>
   <tr>
  <%end%>
       
  </tbody>
</table>
