
<table class="table" style="85%">
	<th>Bus Name</th>
	<th>Bus No</th>
	<th>Source</th>
	<th>Destination</th>
	<th>Total Seats</th>
	<th>Rent</th>
	<th>Delete</th>

	<%@buses.each do |bus|%>
		<tr class="info">

			<td>
			  <%=bus.bus_name%>
			</td>
			<td>
			  <%=bus.bus_no%>
			</td>
			<td>
			  <%=bus.source%>
			</td>
			<td>
			  <%=bus.destination%>
			</td>
			<td>
			  <%=bus.total_seats%>
			</td>
			<td>
			  <%=bus.rent%>
			</td>

			<td>
			<button class="btn btn-default"><%= link_to "Delete",{controller: 'admins',
			             action: 'destroy',
			             owner_id: @owner.id,
			             id: bus.id}, data: { confirm: "Are you sure?" },method: :delete%>
			             </button>
			</td>
		<tr>
	<%end%>

</table>